// Colors

$facepay-color-primary: #7951cb;
$facepay-color-light: #7951cb;
$facepay-color-dark: #462599;

$facepay-background-primary: #E1E2E1;
$facepay-background-secondary: #F5F5F6;

$facepay-color-text: #FFFFFF;
