@import './constants.scss';

.main, .App, .root, .face-recognition-container {
  height: 100vh;
}

.face-recognition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient($facepay-color-dark, $facepay-color-primary, $facepay-color-dark);
}

.video-container {
  position: relative;
  .loader {
    position: absolute;
  }
}

.video-element {
  border-radius: 50%;
  object-fit: cover;
}