@import '~@andes/card/index';
@import '~@andes/form/index';
@import '~@andes/textfield/index';
@import '~@andes/button/index';

.App {
  text-align: center;
  height: 100%;
}

.main {
  height: 100%;
}